bemly.top {
    reverse_proxy localhost:996
    encode zstd
    header / {
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
    }
}

www.bemly.top {
    tls /etc/caddy/certs/www.crt /etc/caddy/certs/www.key
    redir https://bemly.top{uri} permanent
}

# HTTP → HTTPS redirect
http:// {
    redir https://{host}{uri} permanent
}

# Block IP access
https:// {
    abort
}
